.rodape{
    display: grid;
    grid-template-columns: auto auto 50%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    height: 10rem;
}

.lista__links{
    font-size: 16px;
    color: var(--cor-dark-gray-blue);
    line-height: 32px;
}

a:hover{
    color: var(--cor-cyan-principal);
}

.lista__links-detalhes{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
}

.logo__empresa-secundario{
    width: 64px;
    padding-left: 8rem;
}

.faqs, .instalar{
    padding: 0 0 40px 40px;
}

.contato{
    padding: 0 64px 40px 133px;
}

.presskit{
    padding: 0 64px 0 64px;
}
.privacy{
    padding: 0 0 40px 40px;
}

.rede__social{
    justify-self: end;
    padding-right: 90px;
}

.twitter, .facebook{
    padding: 0 32px 0 0;
}

@media screen and (max-width: 375px){
    .rodape{
        grid-template-columns: 1fr;
    }

    .lista__links-detalhes{
        grid-template-columns: 1fr;
        padding: 0;
    }
}