.rodape{
    display: grid;
    grid-template-columns: auto 20% 40%;
    align-items: center;
    justify-content: center;
    gap: 68px;
    background-color: hsl(208, 16%, 84%);
    padding: 50px 0;
    margin-top: 6rem;
}

.links__rodape{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    justify-self: start;
    white-space: nowrap;
    color: var(--cor-dark-gray-blue);
}

.attribution{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.links__rodape a:hover{
    color: var(--cor-cyan-principal);
}

.redesocial__rodape{
    justify-content: end;
    display: flex;
    gap: 32px;
}

.logo__rodape{
    width: 46px;
    justify-self: center;
}

@media screen and (max-width: 375px){
    .rodape{
        grid-template-columns: 1fr;
    }

    .links__rodape{
        grid-template-columns: 1fr;
        justify-self: center;
        text-align: center;
        font-size: 24px;
    }

    .links__rodape a:hover{
        color: var(--cor-cyan-principal);
    }

    .redesocial__rodape{
        grid-template-columns: 1fr;
        justify-self: center;
    }

    .logo__rodape{
        width: 68px;
    }
}